<div class="row">
	<% if clients.count > 0 %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 175px;">Name</th>
					<th style="width: 200px;">Email Address</th>
					<th>Comments</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% clients.each do |client| %>
				<tr>
					<td><%= client[:name] %></td>
					<td><a target="_blank" href="mailto:<%=client[:email]%>"><%=client[:email]%></a></td>
					<td><%= client[:comments] %></td>
					<td>
						<a class="btn btn-info" href="/client/<%= client[:client_id] %>">View</a>
						<a class="btn btn-danger" href="/clients/delete/<%= client[:client_id] %>">Delete</a>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>
<div class="row">
	<form action="/clients/new" method="post" class="form-horizontal">
		<fieldset>
			<legend data-toggle="collapse" data-target="#create" style="cursor: pointer;">Add A New Client</legend>
			<div id="create" class="collapse <% unless errors.empty? %>in<% end %>" style="padding-top:10px;">
				<%= _text({:required=>1,:name=>"name",:label=>"Client's Name",:placeholder=>"Name",:value=>values[:name],:error=>errors[:_name]}) %>
				<%= _text({:required=>1,:name=>"email",:label=>"Client's Email",:placeholder=>"Email",:value=>values[:email],:error=>errors[:_email]}) %>
				<%= _textarea({:name=>"comments",:label=>"Additional Comments",:placeholder=>"Comments",:value=>values[:comments]}) %>
				<%= _button({:text=>"Create Client",:type=>"submit",:class=>"btn-success"}) %>
			</div>
		</fieldset>
	</form>
</div>
