<div class="page-header">
    <h1>Sign Up <small>The first step towards better project management.</small></h1>
</div>
<%= simple_form_for @user, :url => signup_create_path, :html => {:class => 'form-horizontal', :autocomplete=>"off" }  do |f| %>
  <%= f.input :email, :label => "Email Address" %>
  <%= f.input :password, :hint => "Please use a good, strong password!" %>
  <%= f.input :password_confirmation %>
  <hr>
  <%= f.input :name, :label => "Name" %>
  <%= f.input :address, :label => "Address" %>
  <%= f.input :city, :input_html => {:class => "span2"}, :label => "City" %>
  <%= f.input :state, :input_html => {:class => "span1", :maxlength => 2}, :label => "State" %>
  <%= f.input :zip, :input_html => {:class => "span2"}, :label => "Zip" %>
  <%= f.input :website, :label => "Website" %>
  <%= f.input :logo, :label => "Logo" %>
  <hr>
  <%= f.input :beta_code, :label => "Beta Access Code", :hint => "[a-zA-Z]{3}[0-4][M-Z][a-g][a-zA-Z0-9]{4}" %> 
  <div class="form-actions">
      <%= f.submit "Sign up", :class => "btn-success" %><br/></br>
      Already have an account? <%= link_to "Log in", login_path %>.
  </div>
<% end %>
