<%= simple_form_for @project, :html => {:class => 'form-horizontal' }  do |f| %>
  <%= f.association :client, :collection => @current_user.clients,:required => false, :label => "Project Client" %>
  <%= f.input :name, :label => "Project Name" %>
  <%= f.input :description, :label => "Project Description", :input_html => {:rows => 5} %>
  <%= f.input :start, :label => "Project Start Date" %>
  <%= f.input :finish, :label => "Project Finish Date", :include_blank => true %>
  <%= f.input :rate, :label => "Hourly Rate" , :input_html => {:style => 'width: 40px;'}%>
  <%= f.input :picture %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-info' %>
    <% if @project.created_at %>
      <%= link_to 'Cancel', project_path(@project), :class => 'btn' %>
    <% else %>
      <%= link_to 'Cancel', projects_path, :class => 'btn' %>
    <% end %>
  </div>
<% end %>
