<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Project</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area', :rows => 5 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :start, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :start, :include_blank => 1 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :finish, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :finish, :include_blank => 1 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :rate, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :rate, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :client_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select(:client_id,
                                Client.all,
                                :id,
                                :name,
                                { :prompt => true }) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :picture, :class => 'control-label' %>
      <div class="controls">
        <% if @project.picture.file? %>
          <%= image_tag @project.picture(:thumb) %><br/>
        <% end %>
        <%= f.file_field :picture %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', projects_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
