<h1>Project</h1>

<p>
  <b>Name</b><br>
  <%= @project.name %>
</p>

<p>
  <b>Description</b><br>
  <%= @project.description %>
</p>

<p>
  <b>Begin</b><br>
  <%= @project.begin %>
</p>

<p>
  <b>Finish</b><br>
  <%= @project.finish %>
</p>

<p>
  <b>Rate</b><br>
  <%= @project.rate %>
</p>

<p>
  <b>Client</b><br>
  <%= @project.client_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', projects_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_project_path(@project), :class => 'btn' %>
  <%= link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
