<h1> <%= @project.name %>&nbsp;<small><%= @project.start %> - <%= @project.finish%></small></h1> 

<div class='span3'>
  <%= image_tag @project.picture %> 
</div>
<div class='span6'>
  <b>Client</b><br>
  <%= link_to @project.client.name, client_path(@project.client) %><br/>
  <b>Rate</b><br>
  <%= number_to_currency(@project.rate) %>/hr<br/>
  <b>Description</b><br/>
  <%= @project.description %>
</div>
<div class="cb"/>
<br/>
<h3><%= @project.name.possessive %> Tasks</h3>
<br/>

<div class="form-actions">
  <%= link_to 'Back', projects_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_project_path(@project), :class => 'btn' %>
  <%= link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
